*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@keyframes anim1{
    1%{width: 1%;}
    100%{width: 70%;}

}

body{
    height: auto;
    background-color: rgb(48, 48, 48);
}


.container{
    padding: 50px;
    margin-top: 180px;
    height: 500px;
    background-color: rgb(68, 68, 68);
}

.background{
    margin: 170px 580px;
    position: absolute;
    width: 30%;
    height: 25px;
    border-radius: 30px;
    background-color: rgb(241, 241, 241);
    cursor: pointer;
}

.status{
    padding: 2px;
    margin: 3px;
    text-align: right;
    height: 20px;
    border-radius: 30px;
    background-color: rgb(255, 115, 115);
    cursor: pointer;
    animation-name: anim1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    
}

.status h2{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color:  rgba(255, 255, 255, 0.534);
}